<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetMeLikes</title>
</head>
<body>

<h1>Get Me Likes</h1>

    <form action='{{url_for("show_random_id")}}' method='get'>
        <input type='submit' value='Show' />
    </form>
    <br>
    <br>
    <form method="POST">
      tid<br>
      <input type="text" name="twitter_id" value=362814954803433472>
      <br><br>
      since date:<br>
      <input type="date" name="date">
      <input type="submit">
    </form>


    <form action='{{url_for("show_chart")}}' method='get'>
        <input type='submit' value='Display Chart' />
    </form>


</body>
</html>